footer {
  background: var(--dark-green);
  color: var(--light-green);
  font-size: var(--small-text);

  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);

  row-gap: 40px;
}
