header {
  align-items: center;
  padding-bottom: var(--section-padding);
}

header a {
  color: var(--black);
  text-decoration: none;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  header img {
    margin: 0;
  }
}
