#hero {
  align-items: center;
  background: var(--dark-green);
  color: var(--light-green);

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  row-gap: 20px;
}

#hero h1 {
  color: var(--yellow);
}

#hero img {
  border-radius: var(--border-radius);
}

#hero .btn {
  margin-top: 20px;
}

#hero-image-container {
  text-align: center;
}
