.special {
  width: 250px;
}

.special-price {
  color: var(--dark-salmon);
  float: right;
  line-height: 10px;
  margin: 0;
}

.special-delivery {
  font-weight: bold;
}

.special-delivery img {
  filter: saturate(0);
  margin-left: 5px;
  vertical-align: top;
}
